@import url(./__why_item/wrapper__why_item.css);

.wrapper__why {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 200px));
  grid-gap: 2vw;
  padding: 2rem 0 2rem 2rem;
}