@import url(./__why_item/wrapper__why_item.css);

.wrapper__why {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
}

@media screen and (max-width: 1258px){
  .wrapper__why {
    width:40%;
    grid-template-columns: repeat(3, 190px);
  }
}

@media screen and (max-width: 950px){
  .wrapper__why {
    width:40%;
    grid-template-columns: repeat(2, 250px);
  }
}


@media screen and (max-width: 800px){
  .wrapper__why {
    width:40%;
    grid-template-columns: repeat(2, 200px);
  }
}