@import url(./_item/wrapper__pics_item.css);
@import url(./_title/wrapper__pics_title.css);


.wrapper__pics {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(6, minmax(150px, 200px));
  grid-gap: 2vw; */
}