@import url(./__descr_item/wrapper__descr_item.css);

.wrapper__descr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
}

@media screen and (max-width: 1100px){
  .wrapper__descr {
    width:40%;
    grid-template-columns: repeat(3, 190px);
  }
}

@media screen and (max-width: 950px){
  .wrapper__descr {
    width:40%;
    grid-template-columns: repeat(2, 250px);
  }
}


@media screen and (max-width: 800px){
  .wrapper__descr {
    width:40%;
    grid-template-columns: repeat(2, 200px);
  }
}