@import url(./__descr/wrapper__descr.css);
@import url(./__delivery/wrapper__delivery.css);
@import url(./__why/wrappper__why.css);
@import url(./__pics/wrapper__pics.css);

.wrapper {
  max-width: 1280px;
}

div#content1 {
  max-width: 1280px;
  margin-top:17px;
  position: absolute;
  display: block;
  background: #efefef;
}

div#content2 {
  max-width: 1280px;
  margin-top:17px;
  position: absolute;
  display: none;
  background: #D6CCE8;
}

div#content3 {
  width: 100%;
  margin-top:17px;
  position: absolute;
  display: none;
  background: #f1bf8c;
}

input#descr:checked~div#content1 {
  display: block;
}

input#delivery:checked~div#content2 {
  display: block;
}

input#why:checked~div#content3 {
  display: block;
}

input#why:checked~div#content1 {
  display: none;
}