@import url(./__item/products__item.css);

.products {
  display: flex;
  padding: 2rem 0 2rem 2rem;
  margin-top: 1110px;
}

@media screen and (min-width: 768px)
and (max-width: 950px) {
  .products {
    margin-top:calc(1100px * 1.3);
  }
}